<!DOCTYPE html>
<html>
  <%- include('../head', {webtitle: 'References - Tobias Hölzer', 
  webcontent: 'Contacts, references and about rights and stuff. Contact - Tobias Hölzer, Email: tobiashoelzer@hotmail.com, Phone: 0179 7211 240'}) %>
  <style>
    #refs{
      margin-top: 100px;
      margin-bottom: 100px;
    }
    #contact-info-table{
      text-align: left;
    }
    #npm-modules li{
      font-size: 16px;
      line-height: 18px;
    }
    .large-info {
      display: block;
    }
    .small-info {
      display: none;
    }
    @media screen and (max-width: 600px) {
      .large-info {
        display: none;
      }
      .small-info {
        display: block;
      }
    }
    .info-head{
      margin-bottom: 2px;
      font-size: 20px;
    }
    .info-info{
      margin-top: 2px;
      font-size: 20px;
    }
    .info-advert{
      max-width: 90%;
    }
    .none{
      opacity: 0;
    }
    .none:hover{
      cursor: default;
    }
    .btn-none,
    .btn-none:hover{
      border: none;
      background: none;
      color: none;
      cursor: pointer;
      padding: 0;
      margin: 1%;
    }
    .sn-icon{
      width: 64px;
      height: auto;
    }
    .sn-link{
      text-decoration: none;
      margin: 1%;
    }
    .page-content{
      width: 97%;
      max-width: 1024px;
      margin-top: 3%;
      margin-left: auto;
      margin-right: auto;
    }
    .table-h6{
      margin:0;
    }
    .data{
      margin-left: 20%;
    }
    .center{
      text-align: center;
    }
    .list{
      font-size: 24px;
      line-height: 32px;
    }
    .text{
      text-align: justify;
      font-size: 24px;
      line-height: 32px;
    }
    .padding{
      padding-left: 1%;
      padding-right: 1%;
    }
    h6{
      font-size: 24px;
    }
    br{
      display: block;
      margin-bottom: 16px;
    }
  </style>
  <body>
    <%- include ../loader %>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%- include header %>
      <main class="mdl-layout__content">
        <div class="page-content"><!-- Your content goes here -->
          <h1>Contact</h1>
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col" id="contact-info">
              <h6>Tobias Hölzer</h6>
              <h6>Ernsthaldenstraße 49</h6>
              <h6>70565 Stuttgart</h6>
              <br>
              <div class="large-info">
                <table id="contact-info-table">
                  <tr>
                    <th><h6 class="table-h6">Phone:</h6></th>
                    <th><h6 class="table-h6 data">0179 7211 240</h6></th>
                  </tr>
                  <tr>
                    <th><h6 class="table-h6">Email:</h6></th>
                    <th><h6 class="table-h6 data">tobiashoelzer@hotmail.com</h6></th>
                  </tr>
                </table>
              </div>
              <div class="small-info">
                <h6 class="info-head">Phone:</h6>
                <h6 class="info-info">0179 7211 240</h6>
                <h6 class="info-head">Email:</h6>
                <h6 class="info-info">tobiashoelzer@hotmail.com</h6>
              </div>
              <hr>
              <h6 class="info-advert">You are welcome to contact me anytime. Have a look at my social media profiles. Im very active on Whatsapp, Instagram and Discord.</h6>
            </div>
            <div class="mdl-cell mdl-cell--4-col" id="social-networks">
              <a class="sn-link" href="https://www.instagram.com/tobi.t.hoelzer/" target="_blank">
                <img class="sn-icon" src="/pics/SN-Icons/instagram.png" alt="Instagram">
              </a>
              <a class="sn-link" href="https://www.linkedin.com/in/tobias-h%C3%B6lzer-281b72193/" target="_blank">
                <img class="sn-icon" src="/pics/SN-Icons/linkedin.png" alt="LinkedIn">
              </a>
              <a class="sn-link" href="https://twitter.com/tobiashoelzer" target="_blank">
                <img class="sn-icon" src="/pics/SN-Icons/twitter.png">
              </a>
              <button id="discord-show-snackbar" class="btn-none" type="button">
                <img class="sn-icon" src="/pics/SN-Icons/discord.png" alt="Discord">
              </button>
              <button id="skype-show-snackbar" class="btn-none" type="button">
                <img class="sn-icon" src="/pics/SN-Icons/skype.png" alt="Skype">
              </button>
              <button id="whatsapp-show-snackbar" class="btn-none" type="button">
                <img class="sn-icon" src="/pics/SN-Icons/whatsapp.png" alt="Whatsapp">
              </button><br>
              
              <div id="discord-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button class="mdl-snackbar__action" type="button"></button>
              </div>
              <div id="skype-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button class="mdl-snackbar__action" type="button"></button>
              </div>
              <div id="whatsapp-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button class="mdl-snackbar__action" type="button"></button>
              </div>
              <input class="none" id="input-discord" type="text" value="Relativity#1526"/>
              <input class="none" id="input-skype" type="text" value="freakitdowwn"/>
              <input class="none" id="input-whatsapp" type="text" value="0179 7211240"/>
            </div>
          </div>
          <script>
            function init (name, value) {
              'use strict';
              var snackbarContainer = document.querySelector('#'+name+'-snackbar-example');
              var showSnackbarButton = document.querySelector('#'+name+'-show-snackbar');
              var handler = function(event) {
                var copyText = document.querySelector("#input-"+name);
                copyText.select();
                document.execCommand("copy");
              }
              showSnackbarButton.addEventListener('click', function() {
                'use strict';
                var data = {
                  message: value,
                  timeout: 5000,
                  actionHandler: handler,
                  actionText: 'Copy'
                }
                snackbarContainer.MaterialSnackbar.showSnackbar(data);
              })
            }

            var SNs = [{name: "discord", value: "Relativity#1526"}, {name: "skype", value: "freaktitdowwn"}, {name: "whatsapp", value: "0179 7211240"}]
            SNs.forEach(function(sn) {
              init(sn.name, sn.value)
            })
          </script>
          <hr>
          <div id="refs">
            <h1>References</h1>
            <h3 class="padding">What I used for this Website</h3>
            <div class="padding mdl-grid">
              <div class="mdl-cell mdl-cell--6-col">
                <h6>Scripts from other people:</h6>
                <ul class="list">
                  <li>Design: <a href="https://getmdl.io/" target="_blank">material design lite</a></li>
                  <li>Parallax: <a href="https://www.jqueryscript.net/animation/Creating-3D-Interative-Parallax-Background-Effects-with-jQuery-Simples-3D.html" target="_blank">simples-3d parallax effect</a></li>
                  <li>Script: <a href="https://jquery.com/" target="_blank">jQuery</a></li>
                  <li>Icons: made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a>
                  <li>Crop Images: <a href="https://foliotek.github.io/Croppie/" target="_blank">croppie</a></li>
                  <li>Blog Style: <a href="https://quilljs.com/" target="_blank">quill js</a></li>
                  <li>Blog Images: <a href="https://www.npmjs.com/package/quill-image-resize" target="_blank">quill image resize</a></li>
                  <li>Code Style: <a href="https://highlightjs.org/" target="_blank">highlight js</a></li>
                  <li>Time formatter: <a href="https://momentjs.com/" target="_blank">moment js</a></li>
                  <li>Design Password Generator: <a href="https://materializecss.com/" target="_blank">materialize</a></li>
                  <li>Graphs: <a href="https://plot.ly/">plotly</a></li>
                </ul>
              </div>
              <div class="mdl-cell mdl-cell--6-col">
                <h6>NPM Modules:</h6>
                <ul class="list" id="npm-modules">
                    <li>"async": "^2.6.1",</li>
                    <li>"bcryptjs": "^2.4.3",</li>
                    <li>"body-parser": "^1.18.3",</li>
                    <li>"clear": "^0.1.0",</li>
                    <li>"colors": "^1.3.0",</li>
                    <li>"concurrently": "^4.0.0",</li>
                    <li>"ejs": "^2.6.1",</li>
                    <li>"express": "^4.16.3",</li>
                    <li>"express-session": "^1.15.6",</li>
                    <li>"express-validator": "^5.2.0",</li>
                    <li>"gridfs-stream": "^1.1.1",</li>
                    <li>"material-design-lite": "^1.3.0",</li>
                    <li>"mongodb": "^3.1.13",</li>
                    <li>"mongoose": "^5.4.17",</li>
                    <li>"nodemon": "^1.17.5",</li>
                    <li>"npm": "^6.0.1",</li>
                    <li>"passport": "^0.4.0",</li>
                    <li>"passport-local": "^1.0.0",</li>
                    <li>"quill-image-drop-module": "^1.0.3",</li>
                    <li>"quill-image-resize-module": "^3.0.0",</li>
                    <li>"socket.io": "^2.1.1",</li>
                    <li>"uniqid": "^5.0.3"</li>
                </ul>
              </div>
            </div>
            <h3 class="padding">About rights and stuff</h3>
            <p class=" padding text">This Website is hosted by <a href="https://cloud.ibm.com" target="_blank">IBM Cloud</a>. For my Database I use the 
              <a href="https://www.mongodb.com/" target="_blank">MongoDB Storage-Cloud</a>.
              <br>All downloads are not a security risks for you computer! The quote of all programms, pictures etc. 
              am I. You can use all of my programms for free and with no author information, execpt of Mello. All pictures are also free 
              to use. My reviews etc. are of course not for public use, just for looking.
              <br>
              All Images are mine or usable for common use. I took my pictures with Franja Eden. Here is her Website, check her out:
                <a href="http://www.franjaeden.de/" target="_blank">Franja Eden</a>
              <br>
              The links above and my social media links are the only links, which get away from my side. I do not take responsibility for this external sides.
              <br>
              For my blog I collect the following user data: Username, sign-up date and language. The user's password was hashed and stored in my database. 
              The user can optionally provide me with the following data: First name, last name, 'about', a profile picture and the articles written by him. 
              These articles contain the following data: Title, subtitle, tags, date written, the article written and an article picture.
              <br>
              I do not take responsibility for the articles of others. I reserve the right to delete inappropriate content.
              <br>
              Except of Userdata, I also count the visits of my page and the visits of each article. For that I use 
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage" target="_blank">Session Storage</a>. 
              I do not save any hardware information, the ip-adress or similar. I dont use cookies!
              <br>
              Sometimes I used the DeepL translator for my english content. It is a very strong translator, maybe you could use him: 
                <a href="https://www.deepl.com/translator" target="_blank">DeepL</a>
            </p>
          </div>
        </div>
      </main>
      <%- include footer %>
    </div>
    </body>
</html>