<!DOCTYPE html>
<html>
  <%- include('../../head', {webtitle: 'Cryptions - Tobias Hölzer', webcontent: 'Cryption Tool for learning about encryption stuff.'}) %>
  <style>
    
  </style>
  <body>
    <%- include ../../loader %>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%- include ../header %>
      <main class="mdl-layout__content">
        <div class="page-content"><!-- Your content goes here -->
          <div class="work-page-content"><!-- Your content goes here -->
          <h1 class="work-title">Cryptions</h1>
          <p class="work-text">Together with a friend of mine, I developed in my very beginnings this en- and decryption tool. It has 4 different types of cryption-technologie, all pretty easy stuff, like ceasar-cryption. Remaked it end of 2018 with JavaScript. Free for use, have fun with it.</p>
        </div>
        </div>
      </main>
      <%- include ../footer %>
    </div>
    </body>
</html>