<!DOCTYPE html>
<html>
  <%- include('../../head', {webtitle: 'Cryptions - Tobias Hölzer', webcontent: 'Cryption Tool um über Verschlüsselungen zu lernen.'}) %>
  <style>
    
  </style>
  <body>
    <%- include ../../loader %>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%- include ../header %>
      <main class="mdl-layout__content">
        <div class="page-content"><!-- Your content goes here -->
          <div class="work-page-content"><!-- Your content goes here -->
          <h1 class="work-title">Cryptions</h1>
          <p class="work-text">Zusammen mit einer Freundin habe ich während meiner Anfänge diese  Ver- und Entschlüsselungs-Tools entwickelt. Es besitzt vier unterschiedliche Modi, alle recht simple Verfahren, z.B. die Ceasar-Verschlüsselung. 2018 habe ich das mit JavaScript neu gemacht. Frei verwendbar, habt Spaß damit.</p>
        </div>
        </div>
      </main>
      <%- include ../footer %>
    </div>
    </body>
</html>