<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Tobias Hölzer</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="/de<%=url.main.references%>">Kontakt und Impressum</a></li>
      <li><a href="<%=protohost+ 'en/' + originalUrl.split('/').slice(2).join('/')%>">English</a></li>
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section">
    <div class="lang-de-footer">Niemand liest den Footer.</div>
  </div>
</footer>
